header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

p {
  margin-top: 0;
}

.markdown-blockquote,
.markdown-alert {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-left: 4px solid var(--hbs-gray-600);
}

.markdown-alert--note {
  border-left-color: var(--hbs-info);
  color: var(--hbs-info);
}

.markdown-alert--tip {
  border-left-color: var(--hbs-success);
  color: var(--hbs-success);
}

.markdown-alert--important {
  border-left-color: var(--hbs-indigo);
  color: var(--hbs-indigo);
}

.markdown-alert--warning {
  border-left-color: var(--hbs-warning);
  color: var(--hbs-warning);
}

.markdown-alert--caution {
  border-left-color: var(--hbs-danger);
  color: var(--hbs-danger);
}

.markdown-alert>p {
  color: var(--hbs-surface-color);
}

.markdown-blockquote>p:last-child,
.markdown-alert>p:last-child {
  margin-bottom: 0;
}

.markdown-alert__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}

.markdown-alert__title>svg {
  fill: currentColor;
  padding-right: 0.5rem;
  height: 1.5em;
  width: 1.5em;
  display: block;
}