:root {
  --c-done: #622cbc;
  --c-success: #055d20;
  --c-danger: #a0111f;
  --c-warning: #744500;
  --c-info: #0349b4;
  --c-muted: #636c76;
  --c-text-default: #222;
}


body {
  color: var(--c-text-default);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

p {
  margin-top: 0;
}


.markdown-blockquote,
.markdown-alert {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-left: 4px solid var(--c-muted);
}

.markdown-alert--note {
  border-left-color: var(--c-info);
  color: var(--c-info);
}

.markdown-alert--tip {
  border-left-color: var(--c-success);
  color: var(--c-success);
}

.markdown-alert--important {
  border-left-color: var(--c-done);
  color: var(--c-done);
}

.markdown-alert--warning {
  border-left-color: var(--c-warning);
  color: var(--c-warning);
}

.markdown-alert--caution {
  border-left-color: var(--c-danger);
  color: var(--c-danger);
}

.markdown-alert>p {
  color: var(--c-text-default);
}

.markdown-blockquote>p:last-child,
.markdown-alert>p:last-child {
  margin-bottom: 0;
}

.markdown-alert__title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}

.markdown-alert__title > svg {
  fill: currentColor;
  padding-right: 0.5rem;
  height: 1em;
  width: 1em;
  display: block;
}

